.navbar{
    /* position: absolute;
    width: 1440px;
    height: 83px;
    left: 0px;
    top: 0px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: rgba(223, 60, 60, 0.92);
    /* box-sizing: border-box; */
}

.navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-derecha {
    display: flex;
    flex-direction: row-reverse;
    color: rgb(236, 177, 177);
    font-size: 16px;
    margin-right: 5px;
    margin-left: 10px;
    text-decoration: none;
}

.nav-derecha:hover {
    text-decoration: none;
    color: rgb(253, 253, 253);
}

.fondo{
    background: rgba(253, 243, 243, 0.65);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.el_medio{
    /* display: flexbox; */

    height: 100vh;
    background: linear-gradient(180deg, rgba(242, 98, 36, 0.0847259) 0%, rgba(242, 36, 36, 0.14827) 51.04%, rgba(242, 98, 36, 0.14827) 98.44%, rgba(242, 36, 36, 0.14827) 98.45%);
    border-radius: 8px;
}

.el_medio2{
    display: flex;
    flex-direction: column;
    /* flex-flow: row wrap; */
    align-items: stretch;
    height: 100vh;
    padding-left: 15vw;
    padding-right: 15vw;
    background: linear-gradient(180deg, rgba(242, 98, 36, 0.0847259) 0%, rgba(242, 36, 36, 0.14827) 51.04%, rgba(242, 98, 36, 0.14827) 98.44%, rgba(242, 36, 36, 0.14827) 98.45%);
    border-radius: 8px;
    /* flex-shrink: 1; */
    position: relative;
}

.medio_forms{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    /* flex-flow: row wrap;
    align-items: stretch; */
    height: 600px;
    padding-left: 15vw;
    padding-right: 15vw;
    background: linear-gradient(180deg, rgba(242, 98, 36, 0.0847259) 0%, rgba(242, 36, 36, 0.14827) 51.04%, rgba(242, 98, 36, 0.14827) 98.44%, rgba(242, 36, 36, 0.14827) 98.45%);
    border-radius: 8px;
    /* flex-shrink: 1; */
    position: relative;
}

.botones{
    display: flex;
    align-items:center;
    justify-content:center;
    align-items:flex-end;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.botones_form{
    display: flex;
    align-items:center;
    justify-content:center;

    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

.fila {
    display: flex;
    align-items: center;
    align-content: stretch;
    /* width: 300px; Or whatever */
    border-top: 1px solid rgba(29, 28, 28, 0.3); 
    border-bottom: 1px solid rgba(29, 28, 28, 0.3); 
  }
  
  .item_fila {
    width: 100px;  /* Or whatever */
    height: 100px; /* Or whatever */
    margin: auto;  /* Magic! */
  }

  .color_medio{
    background: linear-gradient(180deg, rgba(242, 98, 36, 0.0847259) 0%, rgba(242, 36, 36, 0.14827) 51.04%, rgba(242, 98, 36, 0.14827) 98.44%, rgba(242, 36, 36, 0.14827) 98.45%);
    border-radius: 8px;
    }

    .boton_bordo{
        background: linear-gradient(180deg, rgba(228, 22, 22, 0.74) 0%, rgba(214, 24, 14, 0.511) 52.08%, rgba(228, 22, 22, 0.716875) 100%);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 11px;
    }