<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">
     
        <title>Riverside</title>

        {% load static %}

        <link rel="stylesheet" href="{% static 'alquileres_eventos/css/general.css' %}">
     
        {# Cargamos la librería #}
        {% load bootstrap4 %}

        {# CSS Bootstrap #}
        {% bootstrap_css %}

        <!-- {% bootstrap_javascript %}  {# Embeds Bootstrap JS #} -->

        {% bootstrap_javascript jquery='full' %}


        <!-- <style>

        </style> -->
 
      </head>
    <body>

        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark row justify-content-between">
                <!-- <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        {% if request.user.perfil.es_gerente %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:user-lista' %}">Usuarios</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'clientes_socios:socios-list' %}">Socios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'clientes_socios:membresias-list' %}">Membresias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'alquileres_eventos:eventos-list' %}">Eventos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'alquileres_eventos:sectores-list' %}">Sectores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'alquileres_eventos:servicios-list' %}">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:user-detalle' pk=request.user.id %}">Mi Perfil</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Salir</a>
                        </li>
                    </ul>
                </div>
                <!-- <div style="display: flex; align-items: flex-end;" class="nav-derecha">
                    <span class="nav-derecha">Mi perfil</span>
                </div>
                <div style="display: flex; align-items: flex-end;" class="nav-derecha">
                    <span class="nav-derecha">Salir</span>
                </div> -->
            </nav>

                {% block extrahead %}

                {% endblock %}

                {% block content %}

                {% endblock %}

        </div>
        
    </body>
</html>