{% extends 'alquileres_eventos/base.html' %}
{% load bootstrap4 %}
{% block content %}
<style>
    h2{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    p{
        font-size: 24;
    }
    .el_medio2{
            display: flex;
            /* flex-flow: row wrap;
            align-items: stretch; */
            height: 100vh;
            width: 70vw;
            padding-left: 5vw;
            padding-right: 5vw;
            background: linear-gradient(180deg, rgba(242, 98, 36, 0.0847259) 0%, rgba(242, 36, 36, 0.14827) 51.04%, rgba(242, 98, 36, 0.14827) 98.44%, rgba(242, 36, 36, 0.14827) 98.45%);
            border-radius: 8px;
            /* flex-shrink: 1; */
            position: relative;
            text-align: center;
        }
    .boton_bordo{
        background: linear-gradient(180deg, rgba(228, 22, 22, 0.849) 0%, rgba(197, 21, 12, 0.555) 52.08%, rgba(228, 22, 22, 0.849) 100%);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 11px;
        }

      h4{
        color: #5B0101;
        align-self: center;
        margin-top: 20px;
        margin-bottom: 20px;
      }
</style>
<div class="bg-default-2 pt-16 pb-12 pt-lg-22 pb-lg-27">
    <div class="container" style="text-align: center;">
        <div class="card text-center" style="margin-top: 20px;">
            <div class="card-header">
                <h2 class="font-size-9 text-center mb-11">Detalle Evento</h2>
            </div>
            <div class="card-body">
                <div class="row justify-content-center" style="text-align:center; align-items:center;">
                    <div class="col-5 border border-gray-500 border-2 shadow-8">
                        <p class="lead font-weight-semibold text-black-2 mb-4">Evento:</p>
                    </div>

                    <div class="col-5 shadow-8 rounded-4 border border-gray-500 border-2">
                        <p class="lead font-weight-semibold text-black-2 mb-4">{{ object.nombre }}</p>
                    </div>
              </div>
              <div class="row justify-content-center" style="text-align:center; align-items:center;">
                    <div class="col-5 border border-gray-500 border-2 shadow-8 rounded-4">
                        <p class="lead font-weight-semibold text-black-2 mb-4">Descripcion:</p>
                    </div>

                    <div class="col-5 shadow-8 rounded-4 border border-gray-500 border-2">
                        <p class="lead font-weight-semibold text-black-2 mb-4">{{ object.descripcion }}</p>
                    </div>
                </div>
                <div class="row justify-content-center" style="text-align:center; align-items:center;">
                    <div class="col-5 border border-gray-500 border-2 shadow-8 rounded-4">
                        <p class="lead font-weight-semibold text-black-2 mb-4">Cliente:</p>
                    </div>

                    <div class="col-5 shadow-8 rounded-4 border border-gray-500 border-2">
                        <p class="lead font-weight-semibold text-black-2 mb-4">{{ object.cliente }}</p>
                    </div>
                </div>
                <div class="row justify-content-center" style="text-align:center; align-items:center;">
                    <div class="col-5 border border-gray-500 border-2 shadow-8 rounded-4">
                        <p class="lead font-weight-semibold text-black-2 mb-4">Celular del cliente:</p>
                    </div>

                    <div class="col-5 shadow-8 rounded-4 border border-gray-500 border-2">
                        <p class="lead font-weight-semibold text-black-2 mb-4">{{ object.cliente.celular }}</p>
                    </div>
                </div>
                <div class="row justify-content-center" style="text-align:center; align-items:center;">
                    <div class="col-5 border border-gray-500 border-2 shadow-8 rounded-4">
                        <p class="lead font-weight-semibold text-black-2 mb-4">Precio del evento:</p>
                    </div>

                    <div class="col-5 shadow-8 rounded-4 border border-gray-500 border-2">
                        <p class="lead font-weight-semibold text-black-2 mb-4">{{ object.precio_total }}</p>
                    </div>
                </div>
                <div class="row justify-content-center" style="text-align:center; align-items:center;">
                    <div class="col-10 border border-gray-500 border-2 shadow-8 rounded-4">
                        <h4>Inicio del Evento</h4>
                    </div>
                    <div class="col-5 border border-gray-500 border-2 shadow-8 rounded-4">
                        <p class="lead font-weight-semibold text-black-2 mb-4">Fecha: {{ object.fecha_inicio }}</p>
                    </div>
                    <div class="col-5 shadow-8 rounded-4 border border-gray-500 border-2">
                        <!-- <p class="font-weight-semibold text-black-2 mb-5 line-height-reset">{{ object.email }}</p> -->
                        <p class="lead font-weight-semibold text-black-2 mb-4">Hora {{ object.horario_inicio }}</p>
                    </div>
                </div>
                <div class="row justify-content-center" style="text-align:center; align-items:center;">
                    <div class="col-10 border border-gray-500 border-2 shadow-8 rounded-4">
                        <h4>Fin del Evento</h4>
                    </div>
                    <div class="col-5 border border-gray-500 border-2 shadow-8 rounded-4">
                        <p class="lead font-weight-semibold text-black-2 mb-4">Fecha: {{ object.fecha_fin }}</p>
                    </div>
                    <div class="col-5 shadow-8 rounded-4 border border-gray-500 border-2">
                        <!-- <p class="font-weight-semibold text-black-2 mb-5 line-height-reset">{{ object.email }}</p> -->
                        <p class="lead font-weight-semibold text-black-2 mb-4">Hora {{ object.horario_fin }}</p>
                    </div>
                </div>
                <div class="row justify-content-center" style="text-align:center; align-items:center;">
                    <ul class="list-group col-5" style="padding-top: 4%;">
                        <li class="list-group-item boton_bordo">Sectores</li>
                        {% for sector in object.sectores.all %}
                        <li class="list-group-item">{{ sector.nombre }}</li>
                        {% endfor %}
                      </ul>
                </div>
                <div class="row justify-content-center" style="text-align:center; align-items:center;">
                    <ul class="list-group col-5">
                        <li class="list-group-item boton_bordo">Servicios</li>
                        {% for sevicio in object.servicios.all %}
                        <li class="list-group-item">{{ sevicio }}</li>
                        {% endfor %}
                      </ul>
                </div>
            </div>
            <div class="card-footer text-muted">
                <div class="row justify-content-center" style="margin-top: 20px; position: relative;">
                    <div class="col-4">
                        <a class="btn btn-light boton_bordo" href="{% url 'alquileres_eventos:evento-editar' pk=object.id %}">Editar Evento</a>
                    </div>
                </div>
            </div>
          </div>
    </div>
</div>
{% endblock %}