{% comment %}
{% extends 'alquileres_eventos/base.html' %}

{% block extrahead %}       {# Embeds Extra Resources #}

{{ form.media }}            {# Adds date-picker required JS and CSS #}

<style>
    .botones_form{
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex; 
        position: relative; 
        justify-content: center;
    }

    h4{
        margin-top: 10px;
    }

</style>

    <div class="container medio_forms">
        <h4>Cliente aun no se encuentra registrado? Registralo aqui:</h4>
        <div class="row botones" style="position: relative;">
            <a class="btn btn-dark boton_bordo" id="btn-cliente" href="{% url 'clientes_socios:cliente-create' opcion=0%}">Registrar Cliente</a>
        </div>
        <form method="post" novalidate>
            {% csrf_token %}
            {% include 'alquileres_eventos/forms_b4.html' with form=form %}
            <div class="botones_form">
                <button type="submit" class="btn btn-dark">Registrar Evento</button>
            </div>
        </form>
    </div>

{% endblock %}
{% endcomment %}