{% extends 'alquileres_eventos/base.html' %}


{% block extrahead %}       {# Embeds Extra Resources #}

{{ form.media }}            {# Adds date-picker required JS and CSS #}

{% load crispy_forms_tags %}

	
    <style>
        .botones_form{
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex; 
            position: relative; 
            justify-content: center;
        }
    
        h4{
            margin-top: 10px;
        }
    
    </style>
    <div class="container medio_forms">
        <form method="post">
            {% csrf_token %}
            {% crispy form form.helper %}
            <!-- <div class="botones_form">
                <button type="submit" class="btn btn-dark">Registrar Evento</button>
            </div> -->
        </form>
    </div>
{% endblock %}