{% load crispy_forms_tags %}
{% load static %}


{{ formset.management_form|crispy }}

{% for form in formset.forms %}
  {% for hidden in form.hidden_fields %}
    {{ hidden|as_crispy_field }}
  {% endfor %}

  <div class="image-form d-flex justify-content-between nowrap">
    <!-- {{ form|crispy }} -->
    {% crispy form %}
    <button class="align-self-center btn btn-danger delete-image-form" style="margin-left: 20px;">Delete</button>
</div>


{% endfor %}

<input type="submit" name="submit" value="Submit" class="btn btn-primary" />
<button id="add-image-form" class="btn btn-primary my-3">Añadir otro precio</button>

<script>
    const imageForm = document.getElementsByClassName("image-form");
    const mainForm = document.querySelector("#pet_form");
    const addImageFormBtn = document.querySelector("#add-image-form");
    const submitFormBtn = document.querySelector('[type="submit"]');
    const totalForms = document.querySelector("#id_form-TOTAL_FORMS");

    let formCount = imageForm.length - 1;

    function updateForms() {
        let count = 0;
        for (let form of imageForm) {
            const formRegex = RegExp(`form-(\\d){1}-`, 'g');
            form.innerHTML = form.innerHTML.replace(formRegex, `form-${count++}-`)
        }
    }

    addImageFormBtn.addEventListener("click", function (event) {
        event.preventDefault();

        const newImageForm = imageForm[0].cloneNode(true);
        const formRegex = RegExp(`form-(\\d){1}-`, 'g');

        formCount++;

        newImageForm.innerHTML = newImageForm.innerHTML.replace(formRegex, `form-${formCount}-`);
        mainForm.insertBefore(newImageForm, submitFormBtn);
        totalForms.setAttribute('value', `${formCount + 1}`);
    });

    mainForm.addEventListener("click", function (event) {
        if (event.target.classList.contains("delete-image-form")) {
            event.preventDefault();
            event.target.parentElement.remove();
            formCount--;
            updateForms();
            totalForms.setAttribute('value', `${formCount + 1}`);
        }
    });
</script>

