{% extends 'alquileres_eventos/base.html' %}

{% block content %}

    <!-- <style>
        .el_medio{
            /* display: flexbox; */

            height: 100vh;
            background: linear-gradient(180deg, rgba(242, 98, 36, 0.0847259) 0%, rgba(242, 36, 36, 0.14827) 51.04%, rgba(242, 98, 36, 0.14827) 98.44%, rgba(242, 36, 36, 0.14827) 98.45%);
            border-radius: 8px;
        }
    </style> -->
    
    {% for i in messages %}
    {% endfor %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8 el_medio">
        </div>
        <div class="col-2 align-items-center">
        </div>
      </div>
    </div>

{% endblock %}