{% extends 'alquileres_eventos/base.html' %}

{% block content %}

<style>

  .el_medio2{
      display: flex;
      /* flex-flow: row wrap;
      align-items: stretch; */
      height: 100vh;
      width: 70vw;
      padding-left: 5vw;
      padding-right: 5vw;
      background: linear-gradient(180deg, rgba(242, 98, 36, 0.0847259) 0%, rgba(242, 36, 36, 0.14827) 51.04%, rgba(242, 98, 36, 0.14827) 98.44%, rgba(242, 36, 36, 0.14827) 98.45%);
      border-radius: 8px;
      /* flex-shrink: 1; */
      position: relative;
      text-align: center;
  }

  .botones{
      display: flex;
      align-items:center;
      justify-content:center;
      align-items:flex-end;

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
  }
  .boton_bordo{
  background: linear-gradient(180deg, rgba(228, 22, 22, 0.849) 0%, rgba(197, 21, 12, 0.555) 52.08%, rgba(228, 22, 22, 0.849) 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  }

  h4{
        color: #5B0101;
        align-self: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .container{
      background: linear-gradient(180deg, rgba(242, 98, 36, 0.0847259) 0%, rgba(242, 36, 36, 0.14827) 51.04%, rgba(242, 98, 36, 0.14827) 98.44%, rgba(242, 36, 36, 0.14827) 98.45%);
      height: 100vh;
      text-align: center;
    }
</style>

  <!-- <div class="container"> -->
    <div class="container">
      <h4>Servicios</h4>
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th width="35%">Nombre</th>
            <th>Precio sin Membresia</th>
            <!-- <th>Stock</th>
            <th>Imagen</th> -->
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
        
        <!-- Recorremos los objetos o registros que tenemos en nuestra tabla 'postres' y los listamos -->
        {% for servicio in object_list %}
          <tr style="border-top: 1px solid rgba(29, 28, 28, 0.3); 
          border-bottom: 1px solid rgba(29, 28, 28, 0.3); ">
            <td>{{ servicio.nombre }}</td>
            <td>{{ servicio.precion_normal }}</td>
            <td>
       
              <!-- Usaremos un formulario que realizará la tarea de eliminar un registro o postre desde la misma tabla HTML -->                        
              <form method="POST" action="{% url 'alquileres_eventos:servicio-eliminar' pk=servicio.id%}">
                {% csrf_token %}
                <div class="btn-group">
                  <!-- Creamos 3 botones que son ver, Editar y Eliminar, nos sirven para gestionar nuestros registros o postres -->
                  <a href="{% url 'alquileres_eventos:servicio-detalle' pk=servicio.id%}" title="Ver" type="button" class="btn btn-dark">Ver </a>
                  <a href="{% url 'alquileres_eventos:servicio-editar' pk=servicio.id%}" title="Editar" type="button" class="btn btn-dark">Editar </a>
                  <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                    Eliminar
                  </button>
                </div>
              </form>
       
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <div class="row botones" style="position: relative;">
        <a class="btn btn-dark boton_bordo" id="btn-crear" href="{% url 'alquileres_eventos:servicio-create' %}">Crear Servicio</a>
      </div>
  </div>
  <script type="text/javascript">
    function eliminar() {
      var x = confirm("Eliminar Servicio ?");
      if (x)
        return true;
      else
        return false;
    }
  </script>

{% endblock %}