{% extends 'alquileres_eventos/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container medio_forms">
    <div class="row">
        <div class="col-6 offset-md-3">
            <form id="servicio_form" method="POST" action="." enctype="multipart/form-data">

                {% csrf_token %}

                {{ servicio_form|crispy }}

                {{ formset.management_form }}
                {% for error in formset.non_form_errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
                {% endfor %}
                {{ formset.non_form_errors }}
                {% for form in formset %}
                <div class="image-form d-flex justify-content-between nowrap">
                    {{ form|crispy }}
                    <button class="align-self-center btn btn-danger delete-image-form" style="margin-left: 20px;">Eliminar</button>
                </div>
                {% endfor %}

                <!-- <button id="add-image-form" class="btn btn-dark my-3">Añadir otro Precio de Membresia</button> -->
                <div class="col-6 offset-md-6">
                    <input type="submit" name="submit" value="Añadir Servicio" class="btn btn-dark" />
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const imageForm = document.getElementsByClassName("image-form");
    const mainForm = document.querySelector("#servicio_form");
    const addImageFormBtn = document.querySelector("#add-image-form");
    const submitFormBtn = document.querySelector('[type="submit"]');
    const totalForms = document.querySelector("#id_form-TOTAL_FORMS");

    let formCount = imageForm.length - 1;

    function updateForms() {
        let count = 0;
        for (let form of imageForm) {
            const formRegex = RegExp(`form-(\\d){1}-`, 'g');
            form.innerHTML = form.innerHTML.replace(formRegex, `form-${count++}-`)
        }
    }

    addImageFormBtn.addEventListener("click", function (event) {
        event.preventDefault();

        const newImageForm = imageForm[0].cloneNode(true);
        const formRegex = RegExp(`form-(\\d){1}-`, 'g');

        formCount++;

        newImageForm.innerHTML = newImageForm.innerHTML.replace(formRegex, `form-${formCount}-`);
        mainForm.insertBefore(newImageForm, submitFormBtn);
        totalForms.setAttribute('value', `${formCount + 1}`);
    });

    mainForm.addEventListener("click", function (event) {
        if (event.target.classList.contains("delete-image-form")) {
            event.preventDefault();
            event.target.parentElement.remove();
            formCount--;
            updateForms();
            totalForms.setAttribute('value', `${formCount + 1}`);
        }
    });
</script>

{% endblock content %}