{% extends 'alquileres_eventos/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container medio_forms">
        <div class="card">
            <div class="card-header">
                Editar Servicio
            </div>
            <div class="card-body">
                {% crispy form %}
            </div>
        </div>
    </div>
{% endblock content %}