{% extends 'alquileres_eventos/base.html' %}

{% block content %}
    <div class="container">
        <form method="post" novalidate>
            {% csrf_token %}
            {% include 'alquileres_eventos/forms_b4.html' with form=form %}
            <div class="botones_form">
                <button type="submit" class="btn btn-dark">Aceptar</button>
            </div>
          </form>
    </div>
{% endblock %}


<!-- {% block content %}

    <form method = "POST" action = "">
        {% csrf_token %}
        <p>Roles: {{form.roles}}</p> -->
    <!--    {% for rol in roles.all %}
            <input type="radio" name="rol" id="rol{{ forloop.counter }}" value="{{ rol.nombre }}">
            <label for="rol{{ forloop.counter }}">{{ rol.nombre }}</label><br>
        {% endfor %}
    --> 
        <!-- <input  type = "submit" value="Update">
    </form>


{% endblock %} -->
