<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">
     
        <title>Riverside</title>

        {% load static %}

        <link rel="stylesheet" href="{% static 'css/general.css' %}">
     
        {# Cargamos la librería #}
        {% load bootstrap4 %}

        {# CSS Bootstrap #}
        {% bootstrap_css %}



        <!-- <style>

        </style> -->
 
    </head>
    <body>
        {% block content %}
            <div class="container">
                <h2>Iniciar sesión</h2>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% include 'alquileres_eventos/forms_b4.html' with form=form %}
                    <div class="botones_form">
                        <button type="submit" class="btn btn-dark">Login</button>
                    </div>
                </form>
            </div>
            <hr />
        {% endblock %}

        {% bootstrap_javascript jquery='full' %}
    </body>
</html>