<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">
     
        <title>Riverside</title>

        {% load static %}

        <link rel="stylesheet" href="{% static 'css/general.css' %}">
     
        {# Cargamos la librería #}
        {% load bootstrap4 %}

        {# CSS Bootstrap #}
        {% bootstrap_css %}



        <!-- <style>

        </style> -->
 
    </head>
        {% block content %}
            <h2>Registrar Usuario</h2>
            <div class="container">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% include 'alquileres_eventos/forms_b4.html' with form=form %}
                    <div class="botones_form">
                        <button type="submit" class="btn btn-dark">Registrar</button>
                    </div>
                </form>
            </div>
            <hr />
            <a href="{% url 'login' %}">Iniciar Sesion</a>

            <script>
                $('#id_fecha_nacimiento').datepicker({autoHide: 'True',endDate:'True', format: 'dd/mm/yyyy', iconsLibrary: 'fontawesome', width: 276, modal: true, footer: true, uiLibrary: 'bootstrap4'});
            </script>
            
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            
        {% endblock %}

        
        {% bootstrap_javascript jquery='full' %}
    </body>
</html>
