{% extends 'alquileres_eventos/base.html' %}

{% block content %}


<div class="container" style="text-align: center; padding-top: 1%;">
  <h2>Rol de {{ object.nombre }}</h2>
  <h2>Permisos</h2>
  {% for permiso in object.permisos.all %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
        {{ permiso }}
    </li>
  </ul>
  {% endfor %}

{% endblock %}