{% extends 'alquileres_eventos/base.html' %}

{% block content %}

    <style>

        .el_medio2{
            display: flex;
            /* flex-flow: row wrap;
            align-items: stretch; */
            height: 600px;
            padding-left: 15vw;
            padding-right: 15vw;
            background: linear-gradient(180deg, rgba(242, 98, 36, 0.0847259) 0%, rgba(242, 36, 36, 0.14827) 51.04%, rgba(242, 98, 36, 0.14827) 98.44%, rgba(242, 36, 36, 0.14827) 98.45%);
            border-radius: 8px;
            /* flex-shrink: 1; */
            position: relative;
        }

        .botones{
            display: flex;
            align-items:center;
            justify-content:center;
            align-items:flex-end;

            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
    </style>


  <!-- <div class="container"> -->
    <div class="container">
    <table class="table table-bordered table-hover">
        <thead class="thead-primary">
          <tr>
            <th width="70%" style="justify-content: center;">Roles</th>
            <!-- <th>Precio</th> -->
            <!-- <th>Stock</th>
            <th>Imagen</th> -->
            <th width="30%">Acciones</th>
          </tr>
        </thead>
        <tbody>
        
        <!-- Recorremos los objetos o registros que tenemos en nuestra tabla 'postres' y los listamos -->
        {% for rol in object_list %}
          <tr style="border-top: 1px solid rgba(29, 28, 28, 0.3); 
          border-bottom: 1px solid rgba(29, 28, 28, 0.3); ">
            <td>{{ rol.nombre }}</td>
            <td>
       
              <!-- Usaremos un formulario que realizará la tarea de eliminar un registro o postre desde la misma tabla HTML -->                        
              <form method="POST" action="{% url 'acceso:rol-eliminar' pk=rol.id%}">
                {% csrf_token %}
                <div class="btn-group">
       
                  <!-- Creamos 3 botones que son ver, Editar y Eliminar, nos sirven para gestionar nuestros registros o postres -->
                  <a href="{% url 'acceso:rol-detalle' pk=rol.id%}" title="Ver" type="button" class="btn btn-dark">Ver </a>
                  <a href="{% url 'acceso:rol-editar' pk=rol.id%}" title="Editar" type="button" class="btn btn-dark">Editar </a>
                  <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                    Eliminar
                  </button>
                </div>
              </form>
       
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <div class="row botones">
        <a class="item btn btn-dark" id="btn-crear" href="{% url 'acceso:rol-create' %}">Agregar Rol</a>
        <!-- <div class="col-3">
          </div>
          <div class="col-6 align-items-center">
            <a class="btn btn-dark align-self-center" style="back" id="btn-crear" href="">Crear Sector</a>
        </div>
        <div class="col-3">
        </div> -->
        </div>
  </div>
  <script type="text/javascript">
    function eliminar() {
      var x = confirm("Eliminar Rol");
      if (x)
        return true;
      else
        return false;
    }
  </script>

{% endblock %}