{% extends 'alquileres_eventos/base.html' %}

{% block content %}
<!--------------------- ESTILOS --------------------->
<style>
    
    .col-lg-1 {
        margin-top: 10px;
    }
    .item-user{
        color: #343A40;
    }
    .item-user:hover{
        color: rgb(105, 105, 105);
    }
    h4{
        color: #5B0101;
        align-self: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .list-group-item{
        background-color: transparent;
        border-top: 1px solid rgba(29, 28, 28, 0.3); 
        border-bottom: 1px solid rgba(29, 28, 28, 0.3);
    }
    .boton_bordo{
        background: linear-gradient(180deg, rgba(228, 22, 22, 0.849) 0%, rgba(197, 21, 12, 0.555) 52.08%, rgba(228, 22, 22, 0.849) 100%);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 11px;
    }

    .el_medio2{
    display: flex;
    /* flex-flow: row wrap;
    align-items: stretch; */
    height: 100vh;
    width: 70vw;
    padding-left: 5vw;
    padding-right: 5vw;
    background: linear-gradient(180deg, rgba(242, 98, 36, 0.0847259) 0%, rgba(242, 36, 36, 0.14827) 51.04%, rgba(242, 98, 36, 0.14827) 98.44%, rgba(242, 36, 36, 0.14827) 98.45%);
    border-radius: 8px;
    /* flex-shrink: 1; */
    position: relative;
    text-align: center;
    }
    .container{
      background: linear-gradient(180deg, rgba(242, 98, 36, 0.0847259) 0%, rgba(242, 36, 36, 0.14827) 51.04%, rgba(242, 98, 36, 0.14827) 98.44%, rgba(242, 36, 36, 0.14827) 98.45%);
      height: 100vh;
      text-align: center;
    }
</style>
<!--------------------- FIN ESTILOS --------------------->

<div class="container">
<h4>Usuarios</h4>

<ol class="list-group list-group-flush">
    {% for instance in object_list %}
    <ul class="list-group list-group-horizontal col-10 offset-2">
        <li class="list-group-item col-5">
            <a class="item-user" href="{{ instance.id }}">{{ instance.username }}</a>
        </li>
        <li class="list-group-item col-5">
            <form method="POST" action="{% url 'users:user-eliminar' pk=instance.id%}">
                {% csrf_token %}
                <div class="btn-group">
       
                  <!-- Creamos 3 botones que son ver, Editar y Eliminar, nos sirven para gestionar nuestros registros o postres -->
                  <a href="{% url 'users:user-detalle' pk=instance.id%}" title="Ver" type="button" class="btn btn-dark">Ver </a>
                  <a href="{% url 'users:user-editar' pk=instance.id%}" title="Editar" type="button" class="btn btn-dark">Editar </a>
                  <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                    Eliminar
                  </button>
                </div>
            </form>
        </li>
      </ul>
    {% endfor %} 
</ol>
<div class="row justify-content-center" style="margin-top: 20px; position: relative;">
    <div class="col-4">
        <a class="btn btn-dark boton_bordo" href="{% url 'register' %}">Registrar nuevo usuario</a>
    </div>
</div>
</div>

{% endblock %}
