{% extends 'alquileres_eventos/base.html' %}

{% block content %}
<style>
    .formulario{
        padding-top: 40px;
        text-align: center;
    }
    h4{
        padding-bottom: 0px;  
        margin-bottom: -15px;
    }
</style>
    <!-- <form class="formulario" method="POST">
        <h4>Modificar Usuario {{request.user.username}}</h4>
        <hr>
        {% csrf_token %}
        <p>Direccion: {{ form.direccion }}</p>
        <input class="btn btn-dark" type="submit" value="Aceptar">
    </form> -->
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'alquileres_eventos/forms_b4.html' with form=form %}
        <div class="botones_form">
            <button type="submit" class="btn btn-dark">Aceptar</button>
        </div>
      </form>


{% endblock %}