{% extends 'alquileres_eventos/base.html' %}

{#% block content %#}
<!-- <div class="card border-dark mb-3 mt-4">
    <div class="card-header text-center">
        <h4>Detalles del Usuario</h4>
    </div>
    <div class="contenedor ">
        <div class="row border ml-auto mr-auto">
            <div class="col-sm pt-4 border-right-1">
                <h5 class="card-title text-center"><u>General</u></h5>
                <div class="card-text">
                    <p>Usuario: {{ object.username }}</p>
                    <p>Nombre: {{ object.first_name }}</p>
                    <p>Apellido: {{ object.last_name }}</p>
                    <p>email: {{ object.email }}</p>
                    <p>Direccion: {{ object.perfil.direccion }}</p>
                    <p>Fecha de nacimiento: {{ object.perfil.fecha_nac }}</p>
                    <hr>
                    <p>Ultima conexion: {{ object.last_login }}</p>
                    <p>Fecha de Registro: {{ object.date_joined }}</p>
                    <p>Estado: {{ object.perfil.estado }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contenedor row justify-content-center mt-5">
    {% if request.user.is_superuser %}
    <a class="btn btn-dark" href="{% url 'anadir-rol' id=object.perfil.id %}">Añadir Rol</a>
    {%endif%}
    {% if request.user.id == object.id %}
        <a class="btn btn-dark" href="{% url 'users:user-editar' pk=object.id %}">Modificar</a>
    {% endif %}
</div> -->

{#% endblock %#}

{% block content %}
<div class="card text-center">
    <div class="card-header">
        <h5 class="card-title">Informacion del Usuario: {{ object.username }}</h5>
    </div>
    <div class="card-body">
        <p class="card-text">Nombre: {{ object.first_name }}</p>
        <p class="card-text">Apellido: {{ object.last_name }}</p>
        <p class="card-text">email: {{ object.email }}</p>
        <p class="card-text">Direccion: {{ object.perfil.direccion }}</p>
        <p class="card-text">Fecha de nacimiento: {{ object.perfil.fecha_nac }}</p>
        <hr>
        <p>Ultima conexion: {{ object.last_login }}</p>
        <p>Fecha de Registro: {{ object.date_joined }}</p>
        <p>Estado: {{ object.perfil.estado }}</p>
    </div>
    <div class="card-footer text-muted">
        <div class="contenedor row justify-content-center mt-5">
            {% if request.user.is_superuser %}
            <a class="btn btn-dark" href="{% url 'anadir-rol' id=object.perfil.id %}">Añadir Rol</a>
            {%endif%}
            {% if request.user.id == object.id %}
                <a class="btn btn-dark" href="{% url 'users:user-editar' pk=object.id %}">Modificar</a>
            {% endif %}
        </div>
    </div>
  </div>
  {% endblock %}