
{% extends 'alquileres_eventos/base.html' %}
{% load bootstrap4 %}
{% block content %}
<style>
    h2{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    p{
        font-size: 24;
    }
    .el_medio2{
            display: flex;
            /* flex-flow: row wrap;
            align-items: stretch; */
            height: 100vh;
            width: 70vw;
            padding-left: 5vw;
            padding-right: 5vw;
            background: linear-gradient(180deg, rgba(242, 98, 36, 0.0847259) 0%, rgba(242, 36, 36, 0.14827) 51.04%, rgba(242, 98, 36, 0.14827) 98.44%, rgba(242, 36, 36, 0.14827) 98.45%);
            border-radius: 8px;
            /* flex-shrink: 1; */
            position: relative;
            text-align: center;
        }
      .boton_bordo{
        background: linear-gradient(180deg, rgba(228, 22, 22, 0.849) 0%, rgba(197, 21, 12, 0.555) 52.08%, rgba(228, 22, 22, 0.849) 100%);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 11px;
        }
      .fondo{
        background: linear-gradient( rgba(242, 98, 36, 0.0847259) 0%, rgba(242, 36, 36, 0.14827) 51.04%, rgba(242, 98, 36, 0.14827) 98.44%, rgba(242, 36, 36, 0.14827) 98.45%);
        position: relative;
        display: flex;
      }
      h4{
        color: #5B0101;
        align-self: center;
        margin-top: 20px;
        margin-bottom: 20px;
      }
</style>
<div class="bg-default-2 pt-16 pb-12 pt-lg-22 pb-lg-27">
    <div class="container" style="text-align: center;">
        <div class="card text-center" style="margin-top: 20px;">
            <div class="card-header">
                <h2 class="font-size-9 text-center mb-11">Detalle Membresia</h2>
            </div>
            <div class="card-body">
                <div class="row justify-content-center" style="text-align:center; align-items:center;">
                    <div class="col-5 border border-gray-500 border-2 shadow-8">
                        <p class="lead font-weight-semibold text-black-2 mb-4">Nombre:</p>
                    </div>

                    <div class="col-5 shadow-8 rounded-4 border border-gray-500 border-2">
                        <p class="lead font-weight-semibold text-black-2 mb-4">{{ object.nombre }}</p>
                    </div>
              </div>
              <div class="row justify-content-center" style="text-align:center; align-items:center;">
                    <div class="col-5 border border-gray-500 border-2 shadow-8 rounded-4">
                        <p class="lead font-weight-semibold text-black-2 mb-4">Descripcion:</p>
                    </div>

                    <div class="col-5 shadow-8 rounded-4 border border-gray-500 border-2">
                        <p class="lead font-weight-semibold text-black-2 mb-4">{{ object.descripcion }}</p>
                    </div>
                </div>
                <div class="row justify-content-center" style="text-align:center; align-items:center;">
                    <div class="col-5 border border-gray-500 border-2 shadow-8 rounded-4">
                        <p class="lead font-weight-semibold text-black-2 mb-4">Precio Anual:</p>
                    </div>

                    <div class="col-5 shadow-8 rounded-4 border border-gray-500 border-2">
                        <p class="lead font-weight-semibold text-black-2 mb-4">{{ object.precio_anual }}</p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <div class="row justify-content-center" style="margin-top: 20px; position: relative;">
                    <div class="col-4">
                        <a class="btn btn-light boton_bordo" href="{% url 'clientes_socios:membresia-editar' pk=object.id %}">Editar Membresia</a>
                    </div>
                </div>
            </div>
          </div>
    </div>
</div>
{% endblock %}