{% extends 'alquileres_eventos/base.html' %}

{% load static %}

{% block content %}

    <style>

          .el_medio2{
            display: flex;
            /* flex-flow: row wrap;
            align-items: stretch; */
            height: 100vh;
            width: 70vw;
            padding-left: 5vw;
            padding-right: 5vw;
            background: linear-gradient(180deg, rgba(242, 98, 36, 0.0847259) 0%, rgba(242, 36, 36, 0.14827) 51.04%, rgba(242, 98, 36, 0.14827) 98.44%, rgba(242, 36, 36, 0.14827) 98.45%);
            border-radius: 8px;
            /* flex-shrink: 1; */
            position: relative;
            text-align: center;
            justify-content: center;
        }

        .botones{
            display: flex;
            align-items:center;
            justify-content:center;
            align-items:flex-end;

            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .boton_bordo{
        background: linear-gradient(180deg, rgba(228, 22, 22, 0.849) 0%, rgba(197, 21, 12, 0.555) 52.08%, rgba(228, 22, 22, 0.849) 100%);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 11px;
        }
        h4{
        color: #5B0101;
        /* align-self: center; */
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .container{
      background: linear-gradient(180deg, rgba(242, 98, 36, 0.0847259) 0%, rgba(242, 36, 36, 0.14827) 51.04%, rgba(242, 98, 36, 0.14827) 98.44%, rgba(242, 36, 36, 0.14827) 98.45%);
      height: 100vh;
      text-align: center;
    }
    </style>


  <!-- <div class="container"> -->
    <div class="container">
      <h4>Socios del club</h4>
      <br>
    <table class="table table-bordered table-hover" style="text-align: center;">
        <thead>
          <tr>
            <th width="30%">Cliente</th>
            <th width="30%">Membresia</th>
            <th width="15%">Renovacion</th>
            <th width="25%">Acciones</th>
          </tr>
        </thead>
        <tbody>
        
        <!-- Recorremos los objetos o registros que tenemos en nuestra tabla 'postres' y los listamos -->
        {% for socio in object_list %}
          <tr style="border-top: 1px solid rgba(29, 28, 28, 0.3); 
          border-bottom: 1px solid rgba(29, 28, 28, 0.3); ">
            <td>{{ socio.cliente.nombre }}</td>
            <td>{{ socio.membresia }}</td>
            <td>{{ socio.fecha_renovacion }}</td>
            <td>
       
              <!-- Usaremos un formulario que realizará la tarea de eliminar un registro o postre desde la misma tabla HTML -->                        
              <form method="POST" action="{% url 'clientes_socios:socio-eliminar' pk=socio.id%}">
                {% csrf_token %}
                <div class="btn-group">
       
                  <!-- Creamos 3 botones que son ver, Editar y Eliminar, nos sirven para gestionar nuestros registros o postres -->
                  <a href="{% url 'clientes_socios:socio-detalle' pk=socio.id%}" title="Ver" type="button" class="btn btn-light color_medio">Ver </a>
                  <a href="{% url 'clientes_socios:socio-editar' pk=socio.id%}" title="Editar" type="button" class="btn btn-light color_medio">
                    <img src="{% static 'clientes_socios/img/lapiz.svg' %}"/></a>
                  <!-- <button class="btn btn-danger" onclick="return eliminar();" type="submit"> -->
                    <button class="btn btn-light color_medio" onclick="return eliminar();" type="submit">
                        <img src="{% static 'clientes_socios/img/basurero.svg' %}"/>
                  </button>
                </div>
              </form>
       
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <div class="row botones">
        <a class="btn btn-dark boton_bordo" id="btn-crear" href="{% url 'clientes_socios:socio-create' cedula=0%}">Agregar Socio</a>
      </div>
  </div>

  <script type="text/javascript">
    function eliminar() {
      var x = confirm("Eliminar socio ?");
      if (x)
        return true;
      else
        return false;
    }
  </script>

{% endblock %}