{% extends 'alquileres_eventos/base.html' %}

{% block content %}
    <div class="container medio_forms">
        <form method="post" novalidate>
            {% csrf_token %}
            {% include 'alquileres_eventos/forms_b4.html' with form=form %}
          </form>
            <div class="botones_form">
                <button type="submit" class="btn btn-dark">Crear Membresia</button>
            </div>
    </div>
{% endblock %}